USE [BankCoreDB]
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions] DROP CONSTRAINT [FK_TransactionApplicationID_WithdrawDepositTransactions]
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions] DROP CONSTRAINT [FK_TransactionAccountID_WithdrawDepositTransactions]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_EmployeeID_Users]
GO
ALTER TABLE [dbo].[TransferTransactions] DROP CONSTRAINT [FK_TransferTypeID_TransferTransactions]
GO
ALTER TABLE [dbo].[TransferTransactions] DROP CONSTRAINT [FK_TransactionApplicationID_TransferTransactions]
GO
ALTER TABLE [dbo].[TransactionApplications] DROP CONSTRAINT [FK_TransactionTypeID_TransactionApplications]
GO
ALTER TABLE [dbo].[TransactionApplications] DROP CONSTRAINT [FK_DoneByUserID_TransactionApplications]
GO
ALTER TABLE [dbo].[TransactionApplications] DROP CONSTRAINT [FK_ClientID_TransactionApplications]
GO
ALTER TABLE [dbo].[People] DROP CONSTRAINT [FK_ResidenceCountryID_People]
GO
ALTER TABLE [dbo].[People] DROP CONSTRAINT [FK_NationalityCountryID_People]
GO
ALTER TABLE [dbo].[InternalTransfers] DROP CONSTRAINT [FK_TransferTransactionID_InternalTransfers]
GO
ALTER TABLE [dbo].[InternalTransfers] DROP CONSTRAINT [FK_SenderAccountID_InternalTransfers]
GO
ALTER TABLE [dbo].[InternalTransfers] DROP CONSTRAINT [FK_RecipientAccountID_InternalTransfers]
GO
ALTER TABLE [dbo].[ExternalTransfers] DROP CONSTRAINT [FK_TransferTransactionID_ExternalTransfers]
GO
ALTER TABLE [dbo].[ExternalTransfers] DROP CONSTRAINT [FK_SenderClientAccountID_ExternalTransfers]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_TitleOfJobID_Employees]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_PersonID_Employees]
GO
ALTER TABLE [dbo].[Countries] DROP CONSTRAINT [FK_CurrencyID_Countries]
GO
ALTER TABLE [dbo].[Clients] DROP CONSTRAINT [FK_AccountID_Clients]
GO
ALTER TABLE [dbo].[Accounts] DROP CONSTRAINT [FK_AccountOpeningID_Accounts]
GO
ALTER TABLE [dbo].[Accounts] DROP CONSTRAINT [FK_AccountCurrencyID_Accounts]
GO
ALTER TABLE [dbo].[AccountOpenings] DROP CONSTRAINT [FK_UserID_AccountOpenings]
GO
ALTER TABLE [dbo].[AccountOpenings] DROP CONSTRAINT [FK_PersonID_AccountOpenings]
GO
ALTER TABLE [dbo].[AccountCurrencies] DROP CONSTRAINT [FK_CurrencyID_AccountCurrencies]
GO
/****** Object:  Table [dbo].[WithdrawDepositTransactions]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WithdrawDepositTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[WithdrawDepositTransactions]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[TransferTypes]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransferTypes]') AND type in (N'U'))
DROP TABLE [dbo].[TransferTypes]
GO
/****** Object:  Table [dbo].[TransferTransactions]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransferTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[TransferTransactions]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionTypes]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionTypes]
GO
/****** Object:  Table [dbo].[TransactionApplications]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionApplications]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionApplications]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[People]') AND type in (N'U'))
DROP TABLE [dbo].[People]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Jobs]') AND type in (N'U'))
DROP TABLE [dbo].[Jobs]
GO
/****** Object:  Table [dbo].[InternalTransfers]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InternalTransfers]') AND type in (N'U'))
DROP TABLE [dbo].[InternalTransfers]
GO
/****** Object:  Table [dbo].[ExternalTransfers]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExternalTransfers]') AND type in (N'U'))
DROP TABLE [dbo].[ExternalTransfers]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Currencies]') AND type in (N'U'))
DROP TABLE [dbo].[Currencies]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clients]') AND type in (N'U'))
DROP TABLE [dbo].[Clients]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Accounts]') AND type in (N'U'))
DROP TABLE [dbo].[Accounts]
GO
/****** Object:  Table [dbo].[AccountOpenings]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountOpenings]') AND type in (N'U'))
DROP TABLE [dbo].[AccountOpenings]
GO
/****** Object:  Table [dbo].[AccountCurrencies]    Script Date: 5/3/2025 9:15:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountCurrencies]') AND type in (N'U'))
DROP TABLE [dbo].[AccountCurrencies]
GO
USE [master]
GO
/****** Object:  Database [BankCoreDB]    Script Date: 5/3/2025 9:15:09 PM ******/
DROP DATABASE [BankCoreDB]
GO
/****** Object:  Database [BankCoreDB]    Script Date: 5/3/2025 9:15:09 PM ******/
CREATE DATABASE [BankCoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankCoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankCoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankCoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankCoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankCoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankCoreDB]
GO
/****** Object:  Table [dbo].[AccountCurrencies]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCurrencies](
	[AccountCurrencyID] [tinyint] NOT NULL,
	[CurrencyID] [tinyint] NOT NULL,
 CONSTRAINT [PK_AccountCurrencies] PRIMARY KEY CLUSTERED 
(
	[AccountCurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountOpenings]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOpenings](
	[AccountOpeningID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OpeningData] [datetime] NOT NULL,
 CONSTRAINT [PK_AccountOpenings] PRIMARY KEY CLUSTERED 
(
	[AccountOpeningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountOpeningID] [int] NOT NULL,
	[Balance] [decimal](14, 4) NOT NULL,
	[AccountCurrencyID] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NationalityName] [nvarchar](50) NOT NULL,
	[PhoneCode] [nvarchar](10) NOT NULL,
	[CurrencyID] [tinyint] NOT NULL,
 CONSTRAINT [PK_Countries_1] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyID] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Symbol] [nvarchar](5) NOT NULL,
	[ExchangeRatePerUSD] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[TitleOfJobID] [int] NOT NULL,
	[Salary] [decimal](10, 4) NOT NULL,
	[HireDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalTransfers]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalTransfers](
	[ExternalTransferID] [int] IDENTITY(1,1) NOT NULL,
	[TransferTransactionID] [int] NOT NULL,
	[SenderClientAccountID] [int] NOT NULL,
	[RecipientFullName] [nvarchar](100) NOT NULL,
	[RecipientBankName] [nvarchar](100) NOT NULL,
	[Recipient_IBAN] [nvarchar](50) NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[ArrivalDate] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_ExternalTransfers] PRIMARY KEY CLUSTERED 
(
	[ExternalTransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternalTransfers]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalTransfers](
	[InternalTransferID] [int] IDENTITY(1,1) NOT NULL,
	[TransferTransactionID] [int] NOT NULL,
	[SenderAccountID] [int] NOT NULL,
	[RecipientAccountID] [int] NOT NULL,
	[SuccessFlag] [bit] NOT NULL,
 CONSTRAINT [PK_InternalTransfers] PRIMARY KEY CLUSTERED 
(
	[InternalTransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] NOT NULL,
	[JobTitle] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[NationalityCountryID] [tinyint] NOT NULL,
	[NationalNo] [nvarchar](20) NOT NULL,
	[Gendor] [bit] NOT NULL,
	[ResidenceCountryID] [tinyint] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[ImagePath] [nvarchar](200) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionApplications]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionApplications](
	[TransactionApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeID] [tinyint] NOT NULL,
	[DoneByUser] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TransactionApplications] PRIMARY KEY CLUSTERED 
(
	[TransactionApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeID] [tinyint] NOT NULL,
	[TransactionName] [nvarchar](20) NOT NULL,
	[TransactionFees] [decimal](8, 2) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferTransactions]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferTransactions](
	[TransferTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionApplicationID] [int] NOT NULL,
	[TransferTypeID] [tinyint] NOT NULL,
	[Amount] [decimal](14, 4) NOT NULL,
	[Fees] [decimal](8, 2) NOT NULL,
	[BalanceBeforeTransfer] [decimal](14, 4) NOT NULL,
	[BalanceAfterTransfer] [decimal](14, 4) NOT NULL,
 CONSTRAINT [PK_TransferTransactions] PRIMARY KEY CLUSTERED 
(
	[TransferTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferTypes]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferTypes](
	[TransferTypeID] [tinyint] NOT NULL,
	[TransferName] [nvarchar](50) NOT NULL,
	[TransferFees] [decimal](8, 2) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_TransferTypes] PRIMARY KEY CLUSTERED 
(
	[TransferTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](80) NOT NULL,
	[Permissions] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawDepositTransactions]    Script Date: 5/3/2025 9:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawDepositTransactions](
	[WithdrawDepositTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionApplicationID] [int] NOT NULL,
	[TransactionAccountID] [int] NOT NULL,
	[Amount] [decimal](14, 4) NOT NULL,
	[BalanceBeforeTransaction] [decimal](14, 4) NOT NULL,
	[BalanceAfterTransaction] [decimal](14, 4) NOT NULL,
	[SuccessFlag] [bit] NOT NULL,
 CONSTRAINT [PK_WithdrawDepositTransactions] PRIMARY KEY CLUSTERED 
(
	[WithdrawDepositTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountCurrencies] ([AccountCurrencyID], [CurrencyID]) VALUES (1, 1)
INSERT [dbo].[AccountCurrencies] ([AccountCurrencyID], [CurrencyID]) VALUES (2, 49)
INSERT [dbo].[AccountCurrencies] ([AccountCurrencyID], [CurrencyID]) VALUES (3, 24)
GO
INSERT [dbo].[Countries] ([CountryID], [Name], [NationalityName], [PhoneCode], [CurrencyID]) VALUES (1, N'Afghanistan', N'Afghan', N'93', 2)
INSERT [dbo].[Countries] ([CountryID], [Name], [NationalityName], [PhoneCode], [CurrencyID]) VALUES (2, N'Aland Islands', N'Aland Island', N'358', 49)
INSERT [dbo].[Countries] ([CountryID], [Name], [NationalityName], [PhoneCode], [CurrencyID]) VALUES (3, N'Albania', N'Albanian ', N'355', 3)
GO
INSERT [dbo].[Currencies] ([CurrencyID], [Name], [Code], [Symbol], [ExchangeRatePerUSD]) VALUES (1, N'US Dollar', N'USD', N'$', CAST(1.0000 AS Decimal(10, 4)))
INSERT [dbo].[Currencies] ([CurrencyID], [Name], [Code], [Symbol], [ExchangeRatePerUSD]) VALUES (2, N'Afghan afghani', N'AFN', N'؋', CAST(71.3562 AS Decimal(10, 4)))
INSERT [dbo].[Currencies] ([CurrencyID], [Name], [Code], [Symbol], [ExchangeRatePerUSD]) VALUES (3, N'Albanian lek', N'ALL', N'Lek', CAST(90.1377 AS Decimal(10, 4)))
GO
INSERT [dbo].[Jobs] ([JobID], [JobTitle]) VALUES (1, N'System User')
INSERT [dbo].[Jobs] ([JobID], [JobTitle]) VALUES (2, N'Accessibility Developer')
INSERT [dbo].[Jobs] ([JobID], [JobTitle]) VALUES (3, N'Account Executive')
GO
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionName], [TransactionFees], [Description]) VALUES (1, N'Trasfer', CAST(0.00 AS Decimal(8, 2)), N'A transfer transaction in banking refers to the movement of funds from one account to another, either within the same bank or between different banks. It can be domestic or international, with the process typically involving verification, transfer, and settlement of the funds. Transfer transactions are usually secured with encryption to ensure safety and can be done via online platforms, ATMs, or mobile apps.')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionName], [TransactionFees], [Description]) VALUES (2, N'Withdraw', CAST(1.00 AS Decimal(8, 2)), N'A Withdraw Transaction in banking refers to the process of taking money out of an account, either through ATMs, bank branches, or electronic transfers. The withdrawal can be from a checking or savings account and may involve fees or limitations based on the type of account or withdrawal method. This process usually requires authentication to ensure the security of the transaction.')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionName], [TransactionFees], [Description]) VALUES (3, N'Deposit', CAST(0.00 AS Decimal(8, 2)), N'A Deposit Transaction in banking refers to the process of adding money into an account, such as a checking or savings account. Deposits can be made through various methods, including cash, checks, or electronic transfers. The funds are then available for withdrawal or other transactions, and may be subject to minimum balance requirements or holding periods, depending on the account type.')
GO
INSERT [dbo].[TransferTypes] ([TransferTypeID], [TransferName], [TransferFees], [Description]) VALUES (1, N'Internal Transfer', CAST(0.00 AS Decimal(8, 2)), N'An Internal Transfer in banking refers to moving funds between two accounts within the same bank, usually owned by the same customer. It is typically fast, free of charge, and does not involve external banking networks. This type of transfer is commonly used to manage personal finances or allocate funds between checking and savings accounts.')
INSERT [dbo].[TransferTypes] ([TransferTypeID], [TransferName], [TransferFees], [Description]) VALUES (2, N'External Transfer', CAST(1.00 AS Decimal(8, 2)), N'An External Transfer in banking refers to moving funds from an account in one bank to an account in a different bank. This process may take longer and often involves fees, especially for international transfers. It is used for paying others, transferring to accounts in other banks, or managing funds across multiple institutions.')
GO
ALTER TABLE [dbo].[AccountCurrencies]  WITH CHECK ADD  CONSTRAINT [FK_CurrencyID_AccountCurrencies] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[Currencies] ([CurrencyID])
GO
ALTER TABLE [dbo].[AccountCurrencies] CHECK CONSTRAINT [FK_CurrencyID_AccountCurrencies]
GO
ALTER TABLE [dbo].[AccountOpenings]  WITH CHECK ADD  CONSTRAINT [FK_PersonID_AccountOpenings] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[AccountOpenings] CHECK CONSTRAINT [FK_PersonID_AccountOpenings]
GO
ALTER TABLE [dbo].[AccountOpenings]  WITH CHECK ADD  CONSTRAINT [FK_UserID_AccountOpenings] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AccountOpenings] CHECK CONSTRAINT [FK_UserID_AccountOpenings]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_AccountCurrencyID_Accounts] FOREIGN KEY([AccountCurrencyID])
REFERENCES [dbo].[AccountCurrencies] ([AccountCurrencyID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_AccountCurrencyID_Accounts]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_AccountOpeningID_Accounts] FOREIGN KEY([AccountOpeningID])
REFERENCES [dbo].[AccountOpenings] ([AccountOpeningID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_AccountOpeningID_Accounts]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_AccountID_Clients] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_AccountID_Clients]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_CurrencyID_Countries] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[Currencies] ([CurrencyID])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_CurrencyID_Countries]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_PersonID_Employees] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_PersonID_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_TitleOfJobID_Employees] FOREIGN KEY([TitleOfJobID])
REFERENCES [dbo].[Jobs] ([JobID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_TitleOfJobID_Employees]
GO
ALTER TABLE [dbo].[ExternalTransfers]  WITH CHECK ADD  CONSTRAINT [FK_SenderClientAccountID_ExternalTransfers] FOREIGN KEY([SenderClientAccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[ExternalTransfers] CHECK CONSTRAINT [FK_SenderClientAccountID_ExternalTransfers]
GO
ALTER TABLE [dbo].[ExternalTransfers]  WITH CHECK ADD  CONSTRAINT [FK_TransferTransactionID_ExternalTransfers] FOREIGN KEY([TransferTransactionID])
REFERENCES [dbo].[TransferTransactions] ([TransferTransactionID])
GO
ALTER TABLE [dbo].[ExternalTransfers] CHECK CONSTRAINT [FK_TransferTransactionID_ExternalTransfers]
GO
ALTER TABLE [dbo].[InternalTransfers]  WITH CHECK ADD  CONSTRAINT [FK_RecipientAccountID_InternalTransfers] FOREIGN KEY([RecipientAccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[InternalTransfers] CHECK CONSTRAINT [FK_RecipientAccountID_InternalTransfers]
GO
ALTER TABLE [dbo].[InternalTransfers]  WITH CHECK ADD  CONSTRAINT [FK_SenderAccountID_InternalTransfers] FOREIGN KEY([SenderAccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[InternalTransfers] CHECK CONSTRAINT [FK_SenderAccountID_InternalTransfers]
GO
ALTER TABLE [dbo].[InternalTransfers]  WITH CHECK ADD  CONSTRAINT [FK_TransferTransactionID_InternalTransfers] FOREIGN KEY([TransferTransactionID])
REFERENCES [dbo].[TransferTransactions] ([TransferTransactionID])
GO
ALTER TABLE [dbo].[InternalTransfers] CHECK CONSTRAINT [FK_TransferTransactionID_InternalTransfers]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_NationalityCountryID_People] FOREIGN KEY([NationalityCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_NationalityCountryID_People]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_ResidenceCountryID_People] FOREIGN KEY([ResidenceCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_ResidenceCountryID_People]
GO
ALTER TABLE [dbo].[TransactionApplications]  WITH CHECK ADD  CONSTRAINT [FK_ClientID_TransactionApplications] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[TransactionApplications] CHECK CONSTRAINT [FK_ClientID_TransactionApplications]
GO
ALTER TABLE [dbo].[TransactionApplications]  WITH CHECK ADD  CONSTRAINT [FK_DoneByUserID_TransactionApplications] FOREIGN KEY([DoneByUser])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TransactionApplications] CHECK CONSTRAINT [FK_DoneByUserID_TransactionApplications]
GO
ALTER TABLE [dbo].[TransactionApplications]  WITH CHECK ADD  CONSTRAINT [FK_TransactionTypeID_TransactionApplications] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeID])
GO
ALTER TABLE [dbo].[TransactionApplications] CHECK CONSTRAINT [FK_TransactionTypeID_TransactionApplications]
GO
ALTER TABLE [dbo].[TransferTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TransactionApplicationID_TransferTransactions] FOREIGN KEY([TransactionApplicationID])
REFERENCES [dbo].[TransactionApplications] ([TransactionApplicationID])
GO
ALTER TABLE [dbo].[TransferTransactions] CHECK CONSTRAINT [FK_TransactionApplicationID_TransferTransactions]
GO
ALTER TABLE [dbo].[TransferTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TransferTypeID_TransferTransactions] FOREIGN KEY([TransferTypeID])
REFERENCES [dbo].[TransferTypes] ([TransferTypeID])
GO
ALTER TABLE [dbo].[TransferTransactions] CHECK CONSTRAINT [FK_TransferTypeID_TransferTransactions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeID_Users] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_EmployeeID_Users]
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TransactionAccountID_WithdrawDepositTransactions] FOREIGN KEY([TransactionAccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions] CHECK CONSTRAINT [FK_TransactionAccountID_WithdrawDepositTransactions]
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TransactionApplicationID_WithdrawDepositTransactions] FOREIGN KEY([TransactionApplicationID])
REFERENCES [dbo].[TransactionApplications] ([TransactionApplicationID])
GO
ALTER TABLE [dbo].[WithdrawDepositTransactions] CHECK CONSTRAINT [FK_TransactionApplicationID_WithdrawDepositTransactions]
GO
USE [master]
GO
